[submodule "soundfleet"]
	path = soundfleet
	url = https://github.com/Soundfleet/soundfleet.git
[submodule "soundfleet-inventory"]
	path = soundfleet-inventory
	url = https://github.com/Soundfleet/soundfleet-inventory.git
[submodule "soundfleet-dashboard"]
	path = soundfleet-dashboard
	url = https://github.com/Soundfleet/soundfleet-dashboard.git
